[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8"

[packages]
raven = "==6.10.0"
requests = "==2.20.1"
bothub_backend = {ref = "1.0.15",git = "https://github.com/Ilhasoft/bothub-backend"}
kombu = "==4.6.11"
celery = "==4.4.0"
gunicorn = "==19.9.0"
gevent = "==1.4.0"
bothub_nlp_celery = {ref = "0.1.32",git = "https://github.com/Ilhasoft/bothub-nlp-celery"}
django-environ = "==0.4.5"
redis = "==3.5.3"
fastapi = "==0.42.0"
uvicorn = "==0.11.8"
uvloop = "==0.14.0"
python-multipart = "==0.0.5"
email-validator = "==1.1.1"
dataclasses = "==0.6"
sentry-sdk = "==0.13.2"
numpy = "==1.18.1"
google-api-python-client = "==1.9.1"

[dev-packages]
"flake8" = "*"
black = "==19.3b0"
coverage = "*"

[requires]
python_version = "3.6"
