[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8"

[packages]
uvicorn = "~=0.11.8"
requests = "~=2.20.1"
google-api-python-client = "~=1.9.1"
fastapi = "~=0.65.2"
sentry-sdk = "~=0.13.2"
django-environ = "~=0.4.5"
email-validator = "~=1.1.1"
redis = "~=3.5.3"
python-multipart = "~=0.0.5"
bothub-backend = {editable = true, git = "https://github.com/weni-ai/bothub-backend"}
bothub-nlp-celery = {editable = true, git = "https://github.com/weni-ai/bothub-nlp-celery.git"}
openai = "*"

[dev-packages]
gunicorn = "~=19.9.0"
"flake8" = "*"
black = "==19.3b0"
coverage = "*"

[requires]
python_version = "3.10"
